<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management Portal</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header>
        <a href="/">Home</a>
        <div class="authenticatedSection">
            <a href="/addEvent.html">Add new event</a>
            <a href="#" id="logoutLink">Logout</a>
        </div>
        <div class="unauthenticatedSection">
            <a href="/login.html">Login</a>
            <a href="/register.html">Register</a>
        </div>
    </header>
    <div class="authenticatedSection">
        <h1>Edit Event</h1>
        <form id="editEventForm">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required><br>
            <label for="description">Description:</label>
            <input type="text" name="description" id="description" required><br>
            <label for="startDate">Start date:</label>
            <input type="text" name="startDate" id="startDate" required>
            <label for="startTime">Start time:</label>
            <input type="text" name="startTime" id="startTime" required><br>
            <label for="endDate">End date:</label>
            <input type="text" name="endDate" id="endDate" required>
            <label for="endTime">End time:</label>
            <input type="text" name="endTime" id="endTime" required><br>
            <input type="submit" value="Save Event">
        </form>
        <button id="deleteEventBtn">Delete Event</button>
        <div id="statusMessage"></div>
    </div>
    <div class="unauthenticatedSection">
        <p>
            You are not allowed to edit any events. Please <a href="/login.html">login</a> first.
        </p>
    </div>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/auth.js"></script>
    <script src="./js/editEvent.js"></script>
</body>

</html>